body {
    margin: 0;
    font-family: 'Smythe', sans-serif;
}

.app-header {
    display: flex;
    flex-direction: column;
    background-image: url("./images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 167px;
    color: white;
}

.app-header > h2 {
    padding-left: 20px;
    font-size: 2.44rem;
    font-weight: normal;
}

.app-header > p {
    margin: 0;
    padding-bottom: 120px;
    padding-left: 20px;
    font-size: 1.43rem;
}

.menu-item {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #d2d2d2;

}
.food-icon {
    font-size: 3rem;
    margin-right: 20px;
}
.menu-details {
    flex: 1;
}
.food-name {
    margin: 0;
    font-size: 1.5rem;
}
.ingredients {
    margin: 5px 0;
    color: #8b8b8b;
}

.price {
    margin: 0;
    font-size: 1.2rem;
}

.add-item-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #DEDEDE;
    background-color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Cart CSS */
.cart {
    display: none;
    flex-direction: column;
    font-size: 1.75rem;
    margin: 20px;
}

.cart-header {
    text-align: center;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-text {
    display: flex;
    gap: 15px;
}

.remove-btn {
    font-size: 0.75rem;
    display: inline-block;
    align-content: center;
    color: #BBBBBB;
    font-family: Verdana, sans-serif;
    cursor: pointer;

}

.cart-price {
    font-size: 1.25rem;
}

hr {
    border: 2px solid #393333;
    width: 100%;
}

.cart-total {
    display: flex;
    justify-content: space-between;
}

.order-btn {
    height: 60px;
    background-color: #16DB99;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    color: white;
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

/*payment modal*/

.payment-modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;
    margin: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;

    font-family: Verdana, sans-serif;
    font-size: 1.25rem;

    box-shadow: 0 0 0 1px rgba(0,0,0,0.05),
                0 0 30px rgba(0, 0, 0, 0.25),
                0 0 80px rgba(0, 0, 0, 0.15);
}

.card-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment-details {
    padding: 15px 15px;
    width: 450px;
    border-radius: 5px;
    border: 1px solid #757575;

    font-size: 1rem;
}

.pay-btn {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #16DB99;
    color: white;

    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.success-message {
    display: flex;
    width: 504px;
    padding: 30px;
    background-color: #B8FFDE;
    color: #065F46;
    font-size: 2rem;
    margin: auto;

    justify-content: center;
    align-items: center;
}